/* Mobile Navigation */
#menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #e2baa7;
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding: 0;
}

nav ul li {
    position: relative;
}

nav ul li .dropdown {
    display: none;
}

#menu.show {
    display: block;
    flex-direction: column;
    gap: 10px;
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    #menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }

    nav ul li:hover .dropdown {
        display: none;
    }
}

